* {
    font-family: Nunito, sans-serif;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    justify-content: flex-start;
}

a {
    text-decoration: none;
}

.text-blk {
    margin: 0;
    padding: 10px;
    line-height: 25px;
}

.responsive-container-block.bigContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}

.mainImg {
    color: black;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-blk.headingText {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #0078D4;
    /* Primary Blue */
    margin-bottom: 5px;
}

.allText {
    width: 40%;
}

.text-blk.subHeadingText {
    color: #666;
    /* Dark Gray */
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.text-blk.description {
    font-size: 18px;
    line-height: 26px;
    color: #666;
    /* Dark Gray */
    margin-bottom: 50px;
    font-weight: 400;
}

.explore {
    font-size: 16px;
    line-height: 28px;
    color: #666;
    /* Dark Gray */
    border: 2px solid #666;
    cursor: pointer;
    background-color: white;
    padding: 8px 40px;
    transition: background-color 0.3s;
}

.explore:hover {
    background-color: #0078D4;
    /* Primary Blue */
    color: white;
    border: none;
}

.responsive-container-block.Container {
    margin-top: 80px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding: 10px;
}

.responsive-container-block.Container.bottomContainer {
    flex-direction: row-reverse;
}

.allText.aboveText {
    margin-left: 40px;
}

.allText.bottomText {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.purpleBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 430px;
    background-color: #0078D4;
    ;
    /* Secondary Purple */
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -35px;
    left: -8%;
}

.purpleText {
    font-size: 18px;
    line-height: 26px;
    color: white;
    margin-bottom: 10px;
}

.ultimateImg {
    width: 50%;
    position: relative;
}

@media (max-width: 1024px) {
    .responsive-container-block.Container {
        max-width: 850px;
    }

    .mainImg {
        width: 55%;
        height: auto;
    }

    .allText {
        width: 40%;
        margin-left: 20px;
    }

    .text-blk.headingText {
        text-align: center;
    }

    .explore {
        margin-top: 0;
    }

    .purpleBox {
        bottom: 10%;
    }

    .responsive-container-block.Container {
        justify-content: space-evenly;
    }

    .mainImg {
        width: 100%;
    }

    .text-blk.headingText {
        text-align: left;
    }
}

@media (max-width: 768px) {
    .allText {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-blk.headingText {
        text-align: center;
    }

    .text-blk.subHeadingText {
        text-align: center;
        font-size: 24px;
    }

    .text-blk.description {
        text-align: center;
        font-size: 18px;
    }

    .allText {
        margin-top: 40px;
    }

    .purpleBox {
        position: static;
    }

    .mainImg {
        width: 100%;
    }

    .ultimateImg {
        width: 100%;
    }

    .text-blk.headingText {
        text-align: left;
    }
}

@media (max-width: 500px) {
    .responsive-container-block.Container {
        padding: 10px 0;
        width: 100%;
        max-width: 100%;
    }

    .mainImg {
        width: 100%;
    }

    .text-blk.subHeadingText {
        font-size: 24px;
        line-height: 28px;
    }

    .text-blk.description {
        font-size: 16px;
        line-height: 22px;
    }

    .allText {
        width: 100%;
    }

    .allText.bottomText {
        margin-top: 50px;
        margin-right: 0;
        margin-left: 0;
    }

    .ultimateImg {
        position: static;
    }

    .purpleBox {
        position: static;
    }

    .explore {
        padding: 6px 35px;
        font-size: 15px;
    }
}